<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/registrati" method="get">
        <label for="fcd">Codice Fiscale</label> <br>
        <input type="text" name="codfisc" id="codfisc" required value="cod_fisc"> <br>
        <label for="femail">Email</label> <br>
        <input type="email" name="email" id="email" required> <br>
        <label for="fpwd">Password</label> <br>
        <input type="password" name="pwd" id="pwd" required> <br>
        <input type="submit">
    </form>
</body>
</html>